<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <%- include('_lateral-bar.ejs') %>
  
  <main>
    <div class="header">
      <h1>Compras - Nova compra</h1>
    </div>
    <div class="container-cadastroC">
        <form>
          <div class="row mb-4">

            <div class="col">
              <select id="departamento" name="Funcionario" class="form-control" style="width: 190px; margin-top:10px; margin-left: 20px;">
                <option value="1">Funcionario</option>
              </select>
              <label class="form-label" for="form6Example1" style="margin-left: 20px;">Funcionario</label>
            </div>

            <div class="col">
                <select id="departamento" name="Fornecedor" class="form-control" style="width: 190px; margin-top:10px; margin-left: 20px;">
                  <option value="1">Fornecedor</option>
                </select>
                <label class="form-label" for="form6Example1" style="margin-left: 20px;">Fornecedor</label>
            </div>
          </div>
          
          <div class="row mb-4">
            <div class="col">
              <select id="departamento" name="vendedor" class="form-control" style="width: 500px; margin-left: 20px;">
                <option value="1">SKU | Produto</option>
              </select>
              <label class="form-label" for="form6Example1" style="margin-left: 20px;">Produto</label>
            </div>

            <div class="col">
              <select id="departamento" name="vendedor" class="form-control" style="width: 100px; ">
                <option value="1">QTD</option>
              </select>
              <label class="form-label" for="form6Example1">Quantidade</label>
            </div>

            <div class=" col">
              <input type="button" value="Adicionar produto" class="form-control" style="width:150px" id="addProduct">
            </div>

          </div>

          <div class="row mb-4" style="width: 100%; margin-left: 10px;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">SKU</th>
                  <th scope="col">Produto</th>
                  <th scope="col">Valor Unitario</th>
                  <th scope="col">QTD. Produto</th>
                  <th scope="col">Valor Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>Otto</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="date" id="form6Example2" class="form-control" style="width: 148px;" required/>
                <label class="form-label" for="form6Example2">Data</label>
              </div>
            </div>

            <div class="col">
                <div class="form-outline">
                  <select id="departamento" name="departamento" class="form-control" style="width: 100px;">
                    <option value="1">Pendente</option>
                    <option value="2">Cancelado</option>
                    <option value="4">Em Atraso</option>
                    <option value="5">Estornado</option>
                  </select>
                  <label class="form-label" for="form6Example1">Situação</label>
                </div>
              </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px;">Efetuar cadastro</button>
          <a href="/comercial/compras">
            <input value="Cancelar" class="btn btn-primary btn-block mb-4" style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">
          </a>
        </form>
    </div>
  </main>

  <!-- Scripts -->
  <script src="../../public/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/index.js"></script>
</body>

</html>