<div class="menu-lateral">
    <nav class="d-flex flex-nowrap" id="menu">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 250px; ">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi pe-none me-2" width="40" height="32">
                    <img src="../public/image/logo.png" alt="Logo Autopeças" id="logo">
                </svg>
            </a>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://avatars.githubusercontent.com/u/78887321?s=400&u=74d5cf803a9cb6c34544bab85d696d19804947f1&v=4"
                        alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong><%= name %></strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="/comercial/vendas">Nova venda</a></li>
                    <li><a class="dropdown-item" href="/tecnica/perfil">Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Sair</a></li>
                </ul>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/home" class="nav-link text-white" aria-current="page">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-home"></i>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/financeiro/recebimentos" class="nav-link text-white" aria-current="page" id="financc">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-dollar"></i>
                        </svg>
                        Financeiro
                    </a>
                </li>
                <li>
                    <a href="/comercial/vendas" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-shopping-cart"></i>
                        </svg>
                        Vendas
                    </a>
                </li>
                <li>
                    <a href="/comercial/compras" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-truck"></i>
                        </svg>
                        Compras
                    </a>
                </li>
                <li>
                    <a href="/tecnica/fornecedor" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-truck"></i>
                        </svg>
                        Fornecedores
                    </a>
                </li>
                <li>
                    <a href="/comercial/clientes" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-user"></i>
                        </svg>
                        Clientes
                    </a>
                </li>
                <li>
                    <a href="/tecnica/produtos" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-inbox"></i>
                        </svg>
                        Produtos
                    </a>
                </li>
                <li>
                    <a href="/tecnica/relatorios" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-bar-chart"></i>
                        </svg>
                        Relatórios
                    </a>
                </li>
                <li>
                    <a href="/tecnica/notas" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-file"></i>
                        </svg>
                        NF-e
                    </a>
                </li>
                <li>
                    <a href="/tecnica/configuracoes" class="nav-link text-white">
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <i class="fa fa-cog"></i>
                        </svg>
                        Configurações
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--Abas Ativas-->
<script type="text/javascript">
    const currentLocation = location.href;
    const menuItem = document.querySelectorAll('a');
    const menuLength = menuItem.length;

    for(let i = 0; i<menuLength; i++){
        if(menuItem[i].href === currentLocation){
            menuItem[i].className = "nav-link text-white active"
        }
    }

</script> 