<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Home</h1>
    </div>

    <div class="container">
      <div class="form-outline">
        <h2>Integrantes do Grupo</h2>
      </div>
      <div class="form-outline">
        <table>
          <thead>
            <td><strong>Nome</strong></td>
            <td><strong>RGM</strong></td>
          </thead>
          <tbody>
            <tr>
              <td>Augustus Nicodemus de Almeida</td>
              <td>26124742</td>
            </tr>
            <tr>
              <td>Breno Espindola Carvalho dos Santos</td>
              <td>26062747</td>
            </tr>
            <tr>
              <td>Guilherme Fernandes Laurindo</td>
              <td>26387417</td>
            </tr>
            <tr>
              <td>Lukas Reis de Oliveira</td>
              <td>26299437</td>
            </tr>
            <tr>
              <td>Thiago da Silva Barbosa</td>
              <td>26638738</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>