<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Nota Fiscal Eletronica</h1>
    </div>

    <div class="container">
      <div class="container-rel">

        <button class="abaRV" id="btnNFE1">
          <p>Emitir NF-E</p>
          <i class="fa fa-sign-out"></i>
        </button>

        <button class="abaRV" id="btnNFE2">
          <p>Cadastrar NF-E</p>
          <i class="fa fa-plus-square"></i>
        </button>
      </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>