<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Relatórios</h1>
    </div>
    <div class="container" style="height: 100vh;">
      <div class="container-rel" style="display: flex;">
        
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle abaRD" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <p>Relatório Financeiro</p>
            <i class="fa fa-file-text-o"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/tecnica/relatorio/DFC" >DFC (Demonstrativo de Fluxo de Caixa).</a></li>
            <li><a class="dropdown-item" href="/tecnica/relatorio/DRE">DRE (Demonstrativo de Resultado de Exercício).</a></li>
            <li><a class="dropdown-item" href="/tecnica/relatorio/CPR">Relatório de contas a pagar e a receber.</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle abaRV" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            <p>Relatório Comercial</p>
            <i class="fa fa-file-text-o"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownMenuButton2">
            <li><a class="dropdown-item" href="#">Relatório de vendas.</a></li>
          </ul>
        </div>
      </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
  <script src="../../public/js/relatorios.js"></script>
</body>

</html>