<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <%- include('_lateral-bar.ejs') %>
  
  <main>
    <div class="header">
      <h1>Cadastro de Fornecedores</h1>
    </div>

    <div class="container-cadastroC" style="margin-left: auto; margin-right: auto;">
        <form action="/tecnica/novoFornecedor" method="POST">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" name="nomeFornecedor" class="form-control" style="width: 760px; margin-top: 10px;" required/>
                <label class="form-label" for="form6Example1">Nome da Empresa</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline" >
                <input type="text" name="nrCnpjCpf" class="form-control cnpj" style="width: 140px; margin-top: 10px;" required/>
                <label class="form-label" for="form6Example1">CNPJ/CPF</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" name="dsEndereco" class="form-control" style="width: 520px;" required/>
                <label class="form-label" for="form6Example2">Endereço</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="dsBairro" class="form-control" style="width: 140px;" required/>
                <label class="form-label" for="form6Example2">Bairro</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="dsCidade" class="form-control" style="width: 100px;" required/>
                <label class="form-label" for="form6Example2">Município</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="dsCep" class="form-control cep" style="width: 110px;" required/>
                <label class="form-label" for="form6Example2">CEP</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="nrTelefone" class="form-control phone" style="width: 140px;" required/>
                <label class="form-label" for="form6Example2">Telefone</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="email" name="dsEmail" class="form-control" style="width: 520px;" />
                <label class="form-label" for="form6Example1">E-mail</label>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" name="nrBanco" class="form-control" style="width: 140px;" required/>
                <label class="form-label" for="form6Example2">Banco</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="nrAgencia" class="form-control" style="width: 140px;" required/>
                <label class="form-label" for="form6Example2">Agência</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" name="nrConta" class="form-control" style="width: 140px;" required/>
                <label class="form-label" for="form6Example2">Nr. Conta</label>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px;">Efetuar cadastro</button>
          <a href="./fornecedor">
            <input value="Cancelar" class="btn btn-primary btn-block mb-4" style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">
          </a>
        </form>
      </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>