<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  
  <%- include('_lateral-bar.ejs') %>
  
  <main>
    <div class="header">
      <h1>Produtos - Novo Produto</h1>
    </div>
    <div class="container-cadastroC">
        <form action="/cadastroProduto" method="post">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" maxlength="128" style="width: 750px; margin-top: 10px;" name="nmProduto" required/>
                <label class="form-label" for="form6Example1">Nome</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" maxlength="64" class="form-control" style="width: 140px; margin-top: 10px;" name="dsMarca" required/>
                <label class="form-label" for="form6Example1">Marca</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" maxlength="256" style="width: 750px; margin-top: 10px;" name="dsDescricao" required/>
                <label class="form-label" for="form6Example1">Descrição</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline" >
                <input type="text" id="form6Example1" class="form-control money" style="width: 140px; margin-top: 10px;" name="vlPreco" required/>
                <label class="form-label" for="form6Example1">Valor Unitario</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline" >
                <input type="number" id="form6Example1" class="form-control" style="width: 80px;" name="qtdProd" required/>
                <label class="form-label" for="form6Example1">Quantidade</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline" >
                <input type="text" id="form6Example1" class="form-control sku" style="width: 150px;" name="nrSKU" required/>
                <label class="form-label" for="form6Example1">SKU</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="date" id="form6Example2" class="form-control" style="width: 148px;" name="dtProduto"  required/>
                <label class="form-label" for="form6Example2">Data</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <select name="flDisponivel" class="form-control" style="width: 140px;">
                  <option value="0">Disponivel</option>
                  <option value="1">Não Disponivel</option>
                </select>
                <label class="form-label" for="form6Example1">Situação</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <select id="categoria" name="categoria" class="form-control" style="width: 140px;">
                  <option value="1">Acessório</option>
                  <option value="2">Elétrica</option>
                  <option value="3">Mecânica</option>
                </select>
                <label class="form-label" for="form6Example1">Categoria</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="file" id="form6Example2" class="form-control" style="width: 250px;" name="imgProduto"/>
                <label class="form-label" for="form6Example2">Imagem do Produto</label>
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px;">Efetuar cadastro</button>
              <a href="/tecnica/produtos">
                <input value="Cancelar" class="btn btn-primary btn-block mb-4" style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">
              </a>
            </div>
          </div>
        </form>
    </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>